*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorMainSection:#f7d7bc;
    --colorHearderFooter:rgb(196, 191, 207);
    --colorAside:aquamarine;
    --colorMainElements:#f09a53;
    --footerElement:aliceblue;
}
body{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
}
header,footer{
    background-color: var(--colorHearderFooter);
    height: 15vh;
}
header{
    padding: 20px;
}
aside{
    background-color: var(--colorAside);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
main{
    background-color: var(--colorMainSection);
    height: 70vh;
}
.main_wrapper_section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
.maintext{
    align-self: center;
}
.mainWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* height: 70vh; */
}
 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 8px;
    padding: 10px;
}
.item{
    background-color: var(--colorMainElements);
}
.item-3{
    grid-column-start: 1;
    grid-column-end: 3;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 16px;
}
.footer_element{
    background-color: #fff;
    padding: 30px;
    /* height: 30%; */
}